include LICENSE
include CHANGELOG.md
include README.md
recursive-include ckanext/datarequests/templates *
recursive-include ckanext/datarequests/public *
recursive-include ckanext/datarequests/assets *
recursive-include ckanext/datarequests/i18n *
