{% extends "datarequests/base.html" %}

{% block title %}Data Request {{c.datarequest.get('title', '')}}{% endblock %}

{% set datarequest_id = c.datarequest.get('id') %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data Requests'), controller='datarequests', action='index' %}</li>
  <li>{% link_for c.datarequest.get('title'), controller='datarequests', action='show', id=datarequest_id %}</li>
{% endblock %}

{% block content_action %}

  {% if h.check_access('update_datarequest', {'id':datarequest_id }) %}
    {% link_for _('Manage'), controller='datarequests', action='update', id=datarequest_id, class_='btn', icon='wrench' %}
  {% endif %}

  {% if h.check_access('close_datarequest', {'id':datarequest_id }) and not c.datarequest.closed %}
    {% link_for _('Close'), controller='datarequests', action='close', id=datarequest_id, class_='btn btn-danger', icon='lock' %}
  {% endif %}

{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('datarequests_show', _('Data Request'), id=datarequest_id) }}

  {% if h.show_comments_tab() %}
    {{ h.build_nav_icon('datarequests_comment', _('Comments') + ' ' + h.get_comments_badge(datarequest_id), id=datarequest_id) }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

{% endblock %}

{% block primary_content_inner %}
{% if c.datarequest.status == 'Open' %}
<span class="uppercase label label-open pull-right">
  <i class="icon-unlock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'In progress' %}
<span class="uppercase label label-in-progress pull-right">
  <i class="icon-unlock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Data holder contacted' %}
<span class="uppercase label label-contacted pull-right">
  <i class="icon-unlock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Scheduled for release' %}
<span class="uppercase label label-scheduled pull-right">
  <i class="icon-unlock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Released' %}
<span class="uppercase label label-released pull-right">
  <i class="icon-lock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Cannot be released' %}
<span class="uppercase label label-cannot-release pull-right">
  <i class="icon-lock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Not held by public sector' %}
<span class="uppercase label label-not-public pull-right">
  <i class="icon-lock"></i>  {{ c.datarequest.status }}
</span>
{% elif c.datarequest.status == 'Closed' %}
<span class="uppercase label label-closed pull-right">
  <i class="icon-lock"></i>  {{ c.datarequest.status }}
</span>
{% endif %}

  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ c.datarequest.get('title') }}{% endblock %}</h1>

  {% block datarequest_description %}
    {% if c.datarequest.get('description') %}
      <div class="notes embedded-content">
        {{ h.render_markdown(c.datarequest.get('description')) }}
      </div>
    {% endif %}
  {% endblock %}

  {% block datarequest_additional_info %}
    {% snippet "datarequests/snippets/additional_info.html", datarequest=c.datarequest %}
  {% endblock %}

{% endblock %}